NET clk LOC = E3;
//to clk sthn nexys4 einai sto e3 selida 8
NET an3 LOC = N5;
NET an2 LOC = M3;
NET an1 LOC = M6;
NET an0 LOC = N6;
//apo to egxeiridio ths nexys4_rm selida 18

NET a LOC = L3;
NET b LOC = N1;
NET c LOC = L5;
NET d LOC = L4;
NET e LOC = K3;
NET f LOC = M2;
NET g LOC = L6;
NET dp LOC = M4;
NET reset LOC = C12;
//apo to egxeiridio ths nexys4_rm selida 18

//NET button LOC = R10;
//epilegw to koumpi BTNR gia thn deksia peristrofi tou mynhmatos


NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10 ns HIGH 50 %;