NET "clk" LOC = E3;
NET "an3" LOC = J14;
NET "an2" LOC = T9;
NET "an1" LOC = J18;
NET "an0" LOC = J17;

NET "a" LOC = T10;
NET "b" LOC = R10;
NET "c" LOC = K16;
NET "d" LOC = K13;
NET "e" LOC = P15;
NET "f" LOC = T11;
NET "g" LOC = L18;
NET "dp" LOC = H15;
NET "reset" LOC = M17;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50 %;

NET "clk" IOSTANDARD = LVCMOS18;
NET "an3" IOSTANDARD = LVCMOS18;
NET "an2" IOSTANDARD = LVCMOS18;
NET "an1" IOSTANDARD = LVCMOS18;
NET "an0" IOSTANDARD = LVCMOS18;

NET "a" IOSTANDARD = LVCMOS18;
NET "b" IOSTANDARD = LVCMOS18;
NET "c" IOSTANDARD = LVCMOS18;
NET "d" IOSTANDARD = LVCMOS18;
NET "e" IOSTANDARD = LVCMOS18;
NET "f" IOSTANDARD = LVCMOS18;
NET "g" IOSTANDARD = LVCMOS18;
NET "dp" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;